@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body{
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #050cd4 0%, #212121 100%);
}

p{
    color: aquamarine;
}

.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: rgb(214, 228, 228);
}

.navbar-brand img {
    width: 100px;
}

.navbar-toggler {
    background-color: rgb(124, 120, 115);
}

.sidebar {
    color: aquamarine;
    background: linear-gradient(270deg, #050aa0 0%, #000000 100%);

}

.card {
    background: linear-gradient(270deg, #050bb8 0%, #000000 100%);
    color: aquamarine;
}

.card a {
    text-decoration: none;
    color: aquamarine;

}

.lorem,
.footer-text {
    color: aquamarine;
    margin: auto auto;
}

@media(max-width: 755px) {
    .carousel-indicators{
        display: none ;
    }
}

footer,
.btn-outline-primary{
    background: linear-gradient(270deg, #050aa0 0%, #000000 100%);

}

.media-l{
    display: flex;
    justify-content: center;
    align-items: center;
}